<div>
    <h1 class="heading">{{aim}}</h1>
</div>
<form>
    <div class="container w-25 border mt-5 p-3" style="background:rgba(29, 47, 41, 0.5); " id="fo">
        <h1 class="text-center text-white">Login Page</h1>
        
        <div class="mt-2 p-2">
            <input type="text" name="acno" #acno placeholder="Enter Ac number" class="form-control" style="background: white; " id="acid">
        </div>

        <div class="mt-2 p-2">
            <input type="password" name="psw" #psw [placeholder]="data" class="form-control" id="pid">
        </div>

        <div class="text-center mt-2 p-2">
            <button type="submit" (click)="login(acno,psw)" class="btn btn-success" class="bu">login</button><br><br>
            <p  class="text-white">new user?  <a class="re"  href="" >Register</a></p>
        </div>
    </div>
</form>
