#fo{
    position: relative;
    top: 0px;
    border-radius: 15px;
}
.bu{
    background-color: rgb(2, 36, 2);
    color: white;
    width: 85px;
    border-radius: 5px;
    height: 35px;
    letter-spacing: 1px;
    text-align: center;
    
}
.bu1{
    background-color: rgb(2, 36, 2);
    color: white;
    width: 88px;
    border-radius: 5px;
    height: 35px;
    letter-spacing: 1px;
    text-align: center;
    
}


.bu:hover{
    width: 87px;
    background-color: rgb(0, 10, 3);
    transition: 0.1s;
    
}
.bu1:hover{
    width: 90px;
    background-color: rgb(0, 10, 3);
    transition: 0.1s;
    
}