<form (ngSubmit)="deposit()">
    <div class="container w-25 border mt-4 p-3" style="background:rgba(29, 47, 41, 0.5); " id="fo">
        <h1 class="text-center text-white">Deposit</h1>
        
        <div class="mt-2 p-2">
            <input type="text" name="acno" [(ngModel)]="acno" placeholder="Enter Ac number" class="form-control" style="background: white; " id="acid">
        </div>

        <div class="mt-2 p-2">
            <input type="password" name="psw" [(ngModel)]="psw" placeholder="Password" class="form-control" id="pid">
        </div>

        <div class="mt-2 p-2">
            <input type="password" name="amount"[(ngModel)]="amnt" placeholder="Amount" class="form-control" id="amt">
        </div>

        <div class="text-center mt-2 p-2">
            <button type="submit"  class="btn btn-success" class="bu">Deposit</button><br><br>
        </div>
    </div>
</form>

<form (ngSubmit)="withdraw()">
    <div class="container w-25 border mt-4 p-3" style="background:rgba(29, 47, 41, 0.5); " id="fo">
        <h1 class="text-center text-white">Withdraw</h1>
        
        <div class="mt-2 p-2">
            <input type="text" name="acc" [(ngModel)]="acno1" placeholder="Enter Ac number" class="form-control" style="background: white; " id="acc">
        </div>

        <div class="mt-2 p-2">
            <input type="password" name="ps" [(ngModel)]="psw1" placeholder="Password" class="form-control" id="ps">
        </div>

        <div class="mt-2 p-2">
            <input type="password" name="amount1" [(ngModel)]="amnt1" placeholder="Withdraw" class="form-control" id="amt1">
        </div>

        <div class="text-center mt-2 p-2">
            <button type="submit"  class="btn btn-success" class="bu1">withdraw</button><br><br>
        </div>
    </div>
</form>
